body {
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  margin-top: 40px;
  margin-inline: 80px;
  font-family: "Outfit", sans-serif;
}
main {
  height: 400px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15rem;
}

.logo {
  width: 160px;
  height: 40px;
  display: inline-block;
}
/* .timer-box {
  display: inline-block;
  vertical-align: top;
  background-color: none;
  border-radius: 50%;
  border: 3px solid white;
} */

h1 {
  font-size: 60px;
  color: white;
  margin-top: 100px;
  line-height: 60px;
  font-weight: normal;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.h1 {
  font-weight: bold;
}

#quiz-container :hover {
  background-color: #d20094;
}

button {
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -1px 1px 1px #ffffffc7;
  border-style: solid;
  border-color: #ffffff00;
  border-radius: 25px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  border-radius: 30px;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
}

#quiz-container {
  text-align: center;
  width: 50%;
  margin-inline: auto;
}

footer {
  padding-top: 80px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: white;
}

footer span {
  color: #d20094;
}
