* {
  box-sizing: border-box; /* imposta box-sizing per tutti gli elementi */
}

/* definisco gli attributi del container di tutti i div */
.timerContainer {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.7),
    -6px 6px 10px -1px rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.7),
    inset -4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.7), 0px 12px 10px -10px rgba(0, 0, 0, 0.7);
}
#timer {
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}

.number {
  text-align: center;
  font-size: 12px; /* testo più piccolo*/
  color: rgba(255, 255, 255, 0.7);
}
#timer + br + span {
  font-size: 12px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472; /* valore fisso per il cerchio */
  stroke-dashoffset: 472; /* quanto manca di cerchio per essere completo */
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
